{% extends "../base.html" %} 
{% block title %}Profile: {{user.username}}{% endblock %}
{% block content %}

<h1>Your profile</h1>

<img src="{{avatar.avatar.url}}" alt="" class="avatar">

<p>Username: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<p>First name: {{user.first_name}}</p>
<p>Last name: {{user.last_name}}</p>
<p>Joined on {{user.date_joined}}</p>

<a href="{% url 'account:profile_edit' %}" class="btn btn-primary">Edit your info</a>

<a href="{% url 'account:favourite_all' %}" class="btn btn-primary">Your favourites</a>

{% endblock %}